 # For Eddy USB/Duo, include the mcu and temperature sensor sections.
# Omit for Eddy Coil
[mcu eddy]
# Or whatever is appropriate for CAN
serial: /dev/serial/by-id/usb-Klipper_rp2040_50443404101A8F1C-if00
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

# For all Eddy (USB/Duo/Coil)
[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
# Eddy USB/Duo values below. For Eddy Coil, replace these two with mcu/bus for your setup.
i2c_mcu: eddy
i2c_bus: i2c0f
#BEFORE v4
#x_offset: -14.903
#y_offset: -9.997
#V4 EDDY
x_offset: -1 
y_offset: 40
#tap_drive_current: 16
#reg_drive_current: 16
tap_adjust_z: 0.105
tap_target_z: -0.950
tap_samples: 5
tap_samples_stddev: 0.025
tap_max_samples: 10
tap_threshold: 250
tap_butter_order: 2
tap_butter_lowcut: 3
tap_butter_highcut: 25
max_errors: 3
samples_per_second: 500
tap_start_z: 2.6
calibration_z_max: 5
home_trigger_height: 2.0
scan_sample_time: 0.030

#BEFORE V4 CALI
#calibration_17 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUJy2zyQGvfU/Vm6cxZmm/T8qGgIuxGHpP7xfdWVxvtU/+7ZBxMvUsj9hFl+ZE7fOP4OwzBEGXNQ/BoxmALNZtT+SPgI+ccOtv2ryDfUF35+/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQPtW1BUHVlD7B2k8o7C+VPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQN1vZsKzJGkBDjSYmJ1wJQI3kzkGxlfs/vTn9BThu+T+D+wh0LPHhP7PQHGTEove/+Aa1U46z0z9sJonTBJMGQFlrQMn4/uA/5dPo5UdP6r+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEI6pNnMvLZU+Mg6AniZBlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1AumlprdxiVPgbm2K6t0CI+Rz5Rp/yTE76wtmYJ1avwPbzTibmTJOq9fKcmHX/uCD7CikFFJ3ewPWRF1Ey1Qgy+VbyzvBt1yD1smBCZduD0PZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQQF90JhQJNj8GwpW7IO0TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/NgkUJnRfQEdALf/5T+VtSmWMB2ZfcmFuZ2WUXZQoR0FIFsodElAAR0FIk4yyO3AAZYwCZGOUSxF1Lg==

#AFTER V4 CALI
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUAe9++ClqPY/NqxJZ4H//T+lr9PYdurnP0SJvmt/ONk/n1wLPYPCxD8Rtcv0gDfGP2PmTBCsb8M/hWoaea4Sdj8rAuRcP3uRPyHOIu4u9ac/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ+tSeQDbIlD56MYDSGhuVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQGzHFcd6vGkC4QLvyCzYJQD12+kjY6vs/X81fR4V1AEDlJ25OK2fkP8Ne3KIyWgrAO2aElHHMsj+afsv+gc4VQMy4i32dK+Q/wZEvs70XAcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEE4gKAouGJU+eYr/AZorlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1AgA0sX4QSVPp0mHHfklCE+mT7IB8A3Er45zrO4NOP2PZEPrW9Lr9e99g3T/PJh8j1QtOmJMXDBvdCSOigzCvq9tWrLf4630D2oQEXX+CXkPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAKZ4cjigCz9mprtWevwTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/C6A4cnimAEdALf9YtSp1D2WMB2ZfcmFuZ2WUXZQoR0FIL09JjbAAR0FIovkKwIAAZYwCZGOUSxB1Lg==