[server]
auth_token = dd4a7e6b32ef7369a251
url = http://192.168.86.54:3334

[moonraker]
host = 127.0.0.1
port = 7125

[webcam]
disable_video_streaming = False
# Let it auto-detect from moonraker webcam config
# target_fps capped at 25 for self-hosted Pro
target_fps = 25

[logging]
path = /home/biqu/printer_data/logs/moonraker-obico.log
level = INFO
